[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	syntax-theme = Visual Studio Dark+
	hunk-header-style = omit
	dark = true
[pull]
	rebase = true
[credential]
	helper = store
